\:root
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    --background: #{$background-light}

    --text-subtle: #{$text-subtle-light}
    --text-default: #{$text-default-light}
    --text-brand: #{$text-brand-light}
    --text-brand-bold: #{$text-brand-bold-light}

    --highlight-default: #{$highlight-default-light}
    --highlight-subtle: #{$highlight-subtle-light}

@media (prefers-color-scheme: dark)
    \:root
        --background: #{$background-dark}

        --text-subtle: #{$text-subtle-dark}
        --text-default: #{$text-default-dark}
        --text-brand: #{$text-brand-dark}
        --text-brand-bold: #{$text-brand-bold-dark}

        --highlight-default: #{$highlight-default-dark}
        --highlight-subtle: #{$highlight-subtle-dark}

::selection
    background-color: var(--highlight-subtle)

::-moz-selection
    background-color: var(--highlight-subtle)

body
    background-color: var(--background)

a
    text-decoration: underline dotted
    text-underline-offset: 0.25rem
    color: var(--text-brand)

    &:hover
        color: var(--text-brand-bold)

    &:focus
        outline: none
        background-color: var(--highlight-default)
