@import url('//fonts.googleapis.com/css2?family=Mozilla+Headline:wght@500&family=Mozilla+Text:wght@200..700&display=swap');

body
    font-family: "Mozilla Text", sans-serif
    font-optical-sizing: auto
    font-weight: 400
    font-style: normal
    color: var(--text-default)
    line-height: 1.5

time
    font-optical-sizing: auto
    font-weight: 700
    letter-spacing: 0.1rem
    font-size: 0.875rem
    color: var(--text-brand)

h1
    font-weight: 700
    font-family: "Mozilla Headline", sans-serif
    line-height: 1.05
    font-optical-sizing: auto
    font-weight: 500
    font-style: normal
    font-variation-settings: "wdth" 100

    @media only screen and (max-width: 48rem)
        font-size: 1.5rem
