$text-subtle: oklch(0.3611 0.0112 214.45)
$text-default: oklch(0.2233 0.0143 220.26)
$text-brand: oklch(0.5596 0.1899 27.83)
$text-brand-dark: oklch(0.4964 0.1666 27.74)

$highlight-default: oklch(0.9273 0.0243 20.74)
$highlight-sublte: oklch(0.9517 0.0164 22.08)
