// Light theme
$background-light: oklch(1 0 0)

$text-subtle-light: oklch(0.3611 0.0112 214.45)
$text-default-light: oklch(0.2233 0.0143 220.26)
$text-brand-light: oklch(0.5596 0.1899 27.83)
$text-brand-bold-light: oklch(0.4964 0.1666 27.74)

$highlight-default-light: oklch(0.9273 0.0243 20.74)
$highlight-subtle-light: oklch(0.9517 0.0164 22.08)


// Dark theme
$background-dark: oklch(0.2532 0.0056 285.99)

$text-subtle-dark: oklch(0.8639 0.0043 271.36)
$text-default-dark: oklch(0.9344 0.0055 274.96)
$text-brand-dark: oklch(0.6695 0.1335 24.07)
$text-brand-bold-dark: oklch(0.6201 0.1221 24.33)

$highlight-default-dark: oklch(0.2945 0.0495 24.3)
$highlight-subtle-dark: oklch(0.353 0.0636 23.6)
